.bugs-title {
  @extend .total-progress-title;
  color: red;
}

.bugs-canvas {
  width: 100%;
  background-image: url('/img/bugs-1.jpg');
  background-size: 100% 100%;
  box-shadow: $element-shadow;
}
