// sizes
$desktop-width: 768px;

// theme colors
$black: #000000;
$white: #FFFFFF;

$primary: #88CFBC;
$secondary: #9F248F;
$tertiary: #685C61;
$background: $black;

// temporary - figure these out
$green: #7CFC00;
$red: #DB2929;
$light-grey: #CCCCCC;
$dark-grey: #333333;


// fonts
body {
  font-family: 'Open Sans', 'Times New Roman', sans-serif;
}