@import 'constants';
@import 'base';
@import 'mixins';

.arrow-right {
  position: absolute;
}

body {
  background-color: $background;
  color: $primary;
  margin: 0;
}

.header {
  padding: 20px;
  background-color: $dark-grey;
  font-size: 26px;
  text-transform: uppercase;
  color: $light-grey;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: $element-shadow;
}

.header-subpage {
  float: left;
  padding: 2px 15px;
  background-color: $dark-grey;
  font-size: 24px;
  text-transform: uppercase;
  color: $light-grey;
  box-shadow: $element-shadow;

  @include desktop {
    float: none;
  }
}

.main-image {
  width: 100%;
  display: block;
}

.total-progress-container {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.total-progress-bar {
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
}

.total-progress-title {
  display: inline-block;
  color: $dark-grey;
  font-size: 20px;
  padding-right: 5px;
  box-sizing: border-box;
}

.total-progress-description {
  width: 100%;
  color: $dark-grey;
  padding: 0;
  overflow: hidden;

  &.ng-enter {
    max-height: 0;
    opacity: 0;
    transition: 1s linear all;

    &.ng-enter-active {
      max-height: 60px;
      opacity: 1;
    }
  }
}

.section-title {
  margin: 5px 5px 20px;
  font-size: 30px;
  color: $dark-grey;
}

.character-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.character-icon {
  min-width: 100px;
  max-width: 100px;
  flex-basis: 0;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 2px;
  padding: 2px;

  img {
    width: 100%;
  }
}

.character-text {
  flex-grow: 1;
  flex-shrink: 1;
  color: $black;
  background-color: $white;
  border-radius: 5px;
  margin: 4px;
  padding: 10px;
}

@import '../js/components/progress-bar/progress-bar-style';
@import '../js/components/design-canvas/design-canvas-style';
@import '../js/components/bugs-canvas/bugs-canvas-style';
@import '../js/components/slideshow/slideshow-style';
@import '../js/components/art-canvas/art-canvas-style';
@import '../js/components/code-canvas/code-canvas-style';
