@import 'constants';
@import 'base';
@import 'mixins';
@import '../js/components/progress-bar/progress-bar-style';
@import '../js/components/design-canvas/design-canvas-style';
@import '../js/components/bugs-canvas/bugs-canvas-style';
@import '../js/components/slideshow/slideshow-style';


.arrow-right {
  position: absolute;
}

body {
  background-color: $background;
  color: $primary;
  margin: 0;
}

.header {
  padding: 20px;
  height: 20%;
  background-color: $dark-grey;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}

.main-image {
  width: 100%;
  display: block;
}

.header-title {
  margin: 5px 20px;
  font-size: 30px;
  text-transform: uppercase;
  color: $light-grey;
}

.sprint-title {
  text-align: center;
  color: $primary;
  font-size: 18px;
  font-weight: 800;
  margin: 20px 0;
}

.section-title {
  color: $black;
  text-transform: uppercase;
  font-weight: 800;
  padding: 5px;
  text-align: center;
}

.character-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.character-icon {
  min-width: 100px;
  max-width: 100px;
  flex-basis: 0;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 2px;
  padding: 2px;

  img {
    width: 100%;
  }
}

.character-text {
  flex-grow: 1;
  flex-shrink: 1;
  color: $black;
  background-color: $white;
  border-radius: 5px;
  margin: 4px;
  padding: 10px;
}