.progress-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.progress-group {
  flex-basis: 400px;
  flex-shrink: 1;
  min-height: 20px;
  margin: 0 10px 0 20px;
}

.progress-title {
  color: $light-grey;
  text-align: center;
  font-size: 12px;
  font-weight: 800;
}

progress {
  background-color: #FFFFFF;
  border-radius: 4px;
  width: 100%;
}
