.progress-bar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.progress-bar-group {
  flex-basis: 400px;
  flex-shrink: 1;
  min-height: 20px;
  margin: 0 10px 5px 20px;
}

.progress-bar-title {
  color: $primary;
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 5px;
}

.progress-bar-jars {
  width: 90%;
  margin: auto auto -5px 6%;

  :nth-child(2n+1) {
    transform: rotate(-2deg);
  }

  :nth-child(3n+1) {
    transform: rotate(1deg);
  }

  :nth-child(5n+1) {
    transform: rotate(-3deg);
  }

  :nth-child(7n+1) {
    transform: rotate(3deg);
  }

  :nth-child(11n+1) {
    transform: rotate(4deg);
  }
}

.progress-bar-jar {
  display: inline-block;
  width: 10%;

  &.ng-enter {
    animation:pop-in 0.2s;
    opacity: 0;
  }

//  &.ng-leave {
//    opacity: 0;
//  }
}

.progress-bar-shelf {
  width: 100%;
}

@keyframes pop-in {
  0% { opacity: 0; transform: scale(0.1); }
  80% { opacity: 1; transform: scale(1.2); }
  100% { opacity: 1; transform: scale(1); }
}