div
  .total-progress-container
    span.total-progress-title {{vm.progress | number: 0}}%
    progress.total-progress-bar(min=0, max=100, value='{{vm.progress}}')
    div.total-progress-description(ng-if='vm.progressDone') Just finalized the movement and controls.
  .code-canvas-container
    //img.code-image-foreground(src='/img/code-foreground.png')
    canvas.code-canvas(width=1000, height=563)
