div
  section-progress(progress='vm.progress', progress-end='::vm.progressEnd', description='::vm.description')
  .code-canvas-container
    img.code-image-foreground(src='/img/code-foreground.png')
    canvas.code-canvas(width=1000, height=563)
