slideshow(slide-states='vm.slideStates')
  section.slideshow-slide.summary-container(auto-height)
    header.header
      img.header-logo(src='/img/logo-150.png')
      span.header-title Progress

    //.section-title

    section.progress-bar-container
      progress-bar(title='"Morgan Animations"', bar-min='0', bar-max='100', current='20')
      progress-bar(title='"Mason Implementation"', bar-min='0', bar-max='100', current='25')
      progress-bar(title='"Website"', bar-min='0', bar-max='100', current='50')
      progress-bar(title='"Caverns Level Art"', bar-min='0', bar-max='100', current='39')
      progress-bar(title='"Roadmap"', bar-min='0', bar-max='100', current='2')
      progress-bar(title='"Design"', bar-min='0', bar-max='100', current='90')

  section.slideshow-slide.design-container(auto-height)
    header.header
      span.header-title Design

    design-canvas(active='vm.slideStates[1].active')

  //section.character-container
    .character-text
      | "Fusce quis porttitor enim, eu vestibulum dui. Pellentesque turpis est, egestas laoreet vulputate blandit, ultrices a lectus. Mauris posuere."
    .character-icon
      img(src='http://placehold.it/200x200&text=Michelle')

  section.slideshow-slide.art-container(auto-height)
    header.header
      span.header-title Art

    art-canvas(active='vm.slideStates[2].active')

  section.slideshow-slide.code-container(auto-height)
    header.header
      span.header-title Code

    img.main-image(src='http://placehold.it/1000x568&text=Code')

  section.slideshow-slide.bugs-container(auto-height)
    header.header
      span.header-title Bugs

    bugs-canvas(active='vm.slideStates[4].active')
