header.header
  img.header-logo(src='/img/logo-200.png')
  span.header-title The Deathmap

header.build-title Current Build: v.{{ ::vm.build.version }} ({{ ::vm.build.title }})

div.body-container
  section.progress-container
    div.progress-group
      div.progress-title Sprint \#{{ ::vm.sprint.title }} (ending {{ ::vm.sprint.endDate | date : 'MM/dd/yyyy' }})
      progress-bar(bar-min='0', bar-max='100', current='vm.progress.sprint.all')

  section.progress-container
    div.progress-group
      div.progress-title Code!
      progress-bar(bar-min='0', bar-max='100', current='vm.progress.sprint.code')
    div.progress-group
      div.progress-title Art!
      progress-bar(bar-min='0', bar-max='100', current='vm.progress.sprint.art')
    div.progress-group
      div.progress-title Design!
      progress-bar(bar-min='0', bar-max='100', current='vm.progress.sprint.design')
    div.progress-group
      div.progress-title Bugs!
      progress-bar(bar-min='0', bar-max='100', current='vm.progress.sprint.bugs')

  section.character-container
    div.character-icon
      img(src='http://placehold.it/200x200&text=Cindy')
    div.character-text
      | "Ut varius massa at mauris ornare vehicula. Phasellus volutpat, erat et mollis rhoncus, arcu lectus hendrerit nulla, quis finibus lectus sed."

  section.design-container
    .design-title Design status!
    design-canvas
    //img(src='/img/design-end.jpg')

  section.upcoming-container
    // Stuff from the current sprint which is in progress
    div.upcoming-group
      div.upcoming

  //section.character-container
    div.character-text
      | "Fusce quis porttitor enim, eu vestibulum dui. Pellentesque turpis est, egestas laoreet vulputate blandit, ultrices a lectus. Mauris posuere."
    div.character-icon
      img(src='http://placehold.it/200x200&text=Michelle')

  section.art-container
    .art-title Art status!
    img(src='/img/art-end.jpg')

  //section.character-container
    div.character-icon
      img(src='http://placehold.it/200x200&text=Zach')
    div.character-text
      | "Morbi vel pharetra nibh, vitae mollis massa. Mauris scelerisque nibh eget ligula vulputate feugiat sit amet non nisl. Donec rhoncus posuere."

  section.code-container
    component(ng-repeat='box in vm.codeBoxes' color='::box.color')

  section.bugs
    .bugs-title
    img(src='/img/bugs-end.jpg')