slideshow(slides='vm.slides', slide='::0')
  section.slideshow-slide.summary-container(auto-height)
    header.header
      button(ng-click='vm.incrementProgress(vm.fakeProgress + 10)' ng-if='vm.fakeProgress') Add 10 Progress
      button(ng-click='vm.incrementProgress(10)' ng-if='!vm.fakeProgress') Set Fake Progress
      img(src='/img/logo-150.png')
      span Progress

    section.progress-jar-container
      progress-jar(ng-repeat='epic in vm.epics', title='epic.title', progress='epic.progress')

    .swipe-left-container
      img.swipe-left(src='/img/swipe-left.svg')

  section.slideshow-slide.design-container(auto-height)
    header.header-subpage
      span Design

    design-canvas(active='vm.slides[1].active', progress-end='::vm.totalProgress.design')

  section.slideshow-slide.art-container(auto-height)
    header.header-subpage
      span Art

    art-canvas(active='vm.slides[2].active', progress-end='::vm.totalProgress.art')

  section.slideshow-slide.code-container(auto-height)
    header.header-subpage
      span Code

    code-canvas(active='vm.slides[3].active', progress-end='::vm.totalProgress.code')

  //section.slideshow-slide.bugs-container(auto-height)
  //  header.header-subpage
  //    span Bugs
  //
  //  bugs-canvas(active='vm.slides[4].active')
