.art-video {
  width: 100%;
  display: none;
  box-shadow: $element-shadow;

  @include desktop {
    display: block;
  }
}

.art-canvas {
  width: 100%;
  display: block;
  box-shadow: $element-shadow;

  @include desktop {
    display: none;
  }
}