div
  section-progress(progress='vm.progress', progress-end='::vm.progressEnd', description='::vm.description')
  canvas.art-canvas(width=1000, height=563)
  video.art-video(src='/vid/art-timelapse.mp4', preload='none')
