.slideshow-overflow
  .slideshow-container
    ng-transclude(ng-swipe-right='vm.back()', ng-swipe-left='vm.forward()')
  .slideshow-arrow-left.enabled(ng-click='vm.back()')
  .slideshow-arrow-right.enabled(ng-click='vm.forward()')